/*-- scss:defaults --*/

@import url(./fonts/league-gothic/league-gothic.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:ital@0;1&display=swap');

// fonts
$font-family-sans-serif:  'Montserrat' !default;

// colors
$body-bg: #fff !default;
$body-color: #212529 !default;
$link-color: #dc960a !default;
$selection-bg: #fff !default;


// headings
$presentation-heading-font: "Montserrat", sans-serif !default;
$presentation-heading-color: #912c05 !default;

// H1 size
$presentation-h1-font-size: 1.8em !default;

$heading1Size: 1.00em;
$heading2Size: 1.5em;
$heading3Size: 1.25em;
$heading4Size: 1.00em;


// code blocks
$code-block-border-color: #93a1a1 !default;



/*-- scss:rules --*/
.reveal .footer {
 color: #1b241f !important;

}

.hide-logo .slide-logo {
  display: none !important;
}

.highlight-last  {
  color: #a3aaae;
  .current-fragment {
    color: #272828;
  }
}


.highlight-last2  {
  color: #a3aaae;
  .current-fragment {
    color: #ffffff;
  }
}
.reveal .slides section.title-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start !important;
  top: 0 !important;
}

.reveal .slides section.project-context-slide {
  top: 0 !important;
  height: 100% !important;
}

.reveal .slides section.project-context-slide > h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0;
  text-align: right;
}
